<div class="main-nav">
  <nav class="container">
      <div id="btn-close-menu" class="btn-close">
           <button class="btn btn-outline-danger">
              <i class="fa fa-times"></i>
           </button>
      </div>
    <div class="main-nav-logo">
      <!-- <img src="img/logo.png" alt="" /> -->
    </div>
    <div class="row menu-title">
      <h3>MENU</h3>
    </div>


    <ul class="row mb-3 nav-main-items">
      <li class="col-md-3 nav-main-item">
       
        <a class="nav-main-item-link <%= isActive == 0 ? 'active': ' ' %>" href="/trang-chu">
          <div class="link-content">
            <i class="fa fa-home fa-2x" aria-hidden="false"></i>
            <span>Trang Chủ</span>
          </div>
        </a>
      </li>

      <li class="col-md-3 nav-main-item">
        <a class="nav-main-item-link <%= isActive == 1 ? 'active': ' ' %>" href="/san-pham">
          <div class="link-content">
            <i class="fa fa-money fa-2x" aria-hidden="false"></i>
            <span>Sản Phẩm</span>
          </div>
        </a>
      </li>

      <li class="col-md-3 nav-main-item">
        <a class="nav-main-item-link <%= isActive == 2 ? 'active': ' ' %>" href="/doanh-thu">
          <div class="link-content">
            <i class="fa fa-dollar-sign fa-2x" aria-hidden="false"></i>
            <span>Doanh Thu</span>
          </div>
        </a>
      </li>
    </ul>


    <ul class="row mb-3 nav-main-items">
      <li class="col-md-3 nav-main-item">
        <a class="nav-main-item-link <%= isActive == 3 ? 'active': ' ' %>" href="/nhap-kho">
          <div class="link-content">
            <i class="fa fa-arrow-circle-down fa-2x" aria-hidden="false"></i>
            <span>Nhập Kho</span>
          </div>
        </a>
      </li>

      <li class="col-md-3 nav-main-item">
        <a class="nav-main-item-link <%= isActive == 4 ? 'active': ' ' %>" href="/xuat-kho">
          <div class="link-content">
            <i class="fa fa-arrow-circle-up fa-2x" aria-hidden="false"></i>
            <span>Xuất Kho</span>
          </div>
        </a>
      </li>

      <li class="col-md-3 nav-main-item">
        <a class="nav-main-item-link <%= isActive == 5 ? 'active': ' ' %>" href="/don-hang">
          <div class="link-content">
            <i class="fa fa-list-alt fa-2x" aria-hidden="false"></i>
            <span>Đơn Hàng</span>
          </div>
        </a>
      </li>
    </ul>





    <div class="btn-out">
      <a href="/trang-chu/log-out">
        <i class="fa fa-power-off"></i>
        Đăng Xuất
      </a>
    </div>
  </nav>
</div>